.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color:#87ceeb ;
  font-size:30px;
  padding: 10px;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
}

nav button {
  background-color: orange;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;

}

nav button:hover {
  background-color: #fff;
  color: #333;
}
.heading{
 text-align: center;
 background-image:url(https://www.wallpaperflare.com/static/39/691/637/airplane-sky-flight-clouds-wallpaper.jpg);
 
 background-size: cover;
}
.options{
  font-size:30px;
}
.search-button{
  background-color: #3cb371;
  font-size:30px;
  padding:18px;
  margin:35px;
  border:0px;
  border-radius:10px;
  color:white;
}
.support{
  color:whitesmoke;
}
